<!DOCTYPE html>
<html>
  <head>
    <title>Time Traveler's Guide to Thessaloniki</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-***"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Add the "About" link -->
    <a href="#" id="aboutLink" class="popup-link" onclick="openAboutPopup()"
      >Σχετικά</a
    >

    <!-- Add a map -->
    <div id="mapid"></div>

    <!-- Add the slider -->
    <div class="slider-container">
      <button id="hideButton" onclick="toggleSlider()">
        <i class="far fa-eye-slash"></i>
      </button>
      <div id="slider"></div>
    </div>

    <!-- About Popup -->
    <div id="aboutPopup" class="leaflet-popup about-popup">
      <div class="leaflet-popup-content about-popup-content">
        <span class="close" onclick="closeAboutPopup()">&times;</span>
        <h2>Σχετικά με τη σελίδα</h2>
        <div class="about-text">
          <p>
            Η σελίδα αυτή έχει ως στόχο να συγκεντρώσει σε ένα σημείο
            φωτογραφίες από την ιστορία της Θεσσαλονίκης, δημιουργώντας έτσι μια
            αφήγηση για τη μεταμόρφωση της πόλης από το 1860 κι έπειτα. Η
            λειτουργία της είναι μη κερδοσκοπική και το υλικό προέρχεται από
            ιστότοπους που περιλαμβάνουν την βιβλιοθήκη
            <a
              href="https://gallica.bnf.fr/services/engine/search/sru?operation=searchRetrieve&version=1.2&query=%28gallica%20all%20%22salonique%22%29&lang=en&suggest=0#resultat-id-12"
              >Gallica</a
            >
            και τη σελίδα
            <a href="https://www.facebook.com/groups/oldthessaloniki/"
              >Παλιές φωτογραφίες της Θεσσαλονίκης</a
            >.<br /><br />
            Εάν θέλετε να συνεισφέρετε στον εμπλουτισμό και τη βελτίωσή της
            παρακαλώ επικοινωνήστε στο email
            <span
            class="email"
            data-user="akprodromou"
            data-domain="gmail.com"
          ></span>.
          </p>
        </div>
      </div>
    </div>

    <!-- Scripts go below -->
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <script type="module" src="/public/js/leaflet.rotatedMarker.js"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
    <script src="/public/js/auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="/public/js/app.js"></script>
    <script>
      var sliderContainer = document.querySelector(".slider-container");
      var hideButton = document.getElementById("hideButton");
      var mapContainer = document.getElementById("mapid");
      var sliderVisible = true;

      function toggleSlider() {
        sliderContainer.classList.toggle("hidden"); // Add or remove the "hidden" class
        mapContainer.style.height = sliderVisible
          ? "100%"
          : "calc(100% - 100px)"; // Adjust the map height based on slider visibility
        sliderVisible = !sliderVisible;

          // Update the button icon based on slider visibility
        const hideButton = document.querySelector("#hideButton i");
        hideButton.classList.toggle("fa-eye-slash");
        hideButton.classList.toggle("fa-eye");
      }

      // About popup code

      var aboutLink = document.getElementById("aboutLink");
      var aboutPopup = document.getElementById("aboutPopup");

      // Open the about popup
      function openAboutPopup() {
        aboutPopup.style.visibility = "visible";
        aboutPopup.classList.add("visible");
      }

      // Close the about popup
      function closeAboutPopup() {
        aboutPopup.style.visibility = "hidden";
        aboutPopup.classList.remove("visible");
      }

      // Close the about popup when the user clicks outside of it
      window.addEventListener("click", function (event) {
        var target = event.target;
        var isClickInsidePopup =
          aboutPopup.contains(target) || target === aboutLink;
        if (!isClickInsidePopup && aboutPopup.style.visibility === "visible") {
          closeAboutPopup();
        }
      });

      var emailElements = document.getElementsByClassName("email");
      for (var i = 0; i < emailElements.length; i++) {
        var element = emailElements[i];
        var user = element.getAttribute("data-user");
        var domain = element.getAttribute("data-domain");
        var email = user + "@" + domain;
        element.textContent = email;
      }
    </script>
  </body>
</html>
