body {
  height: 100%;
  overflow: hidden;
}

/* Leaflet css */

.leaflet-popup-content-wrapper {
  display: flex;
  justify-content: center;
  padding: 5px;
 }

.leaflet-popup-content {
  display: flex;
  align-items: left;
  justify-content: center;
  margin: 20px;
  width: auto !important; /* Set width to auto */
  height: auto !important; /* Set height to auto */
}

.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}

.leaflet-popup-content img {
  width: auto;
  height: auto;
}

/* CSS rule for mobile screens */
@media (max-width: 767px) {
  .popup-image img {
    max-height: 80vh;
    max-width: 80vw;
  }
}

/* CSS rule for larger screens */
@media (min-width: 768px) {
  .popup-image img {
    max-height: 50vh; 
    max-width: 50vw;
  }
}

.leaflet-container {
  font: 12px/20px Georgia, serif;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #888888;
  top: 3px;
  right: 1.5px;
}

/* About Popup */
#aboutLink {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #3388ff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font: 14px Georgia, serif;
}

#aboutLink:hover {
  background-color: #2962b8;
}

.about-popup {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 80%;
  max-width: 400px; /* Set a maximum width to prevent it from filling the whole screen */
}

.leaflet-popup-content.about-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  font: 14px Georgia, serif;
  line-height: 1.6;
  text-align: center; /* Center the entire content */
  display: flex;
  flex-direction: column;
}

.leaflet-popup-content.about-popup-content h2 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.about-popup-content .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 18px;
  color: #888888;
  cursor: pointer;
}


.about-text {
  margin-bottom: 10px;
  text-align: left;
}

.about-text p {
  text-align: left;
}

.comment-area {
  margin-bottom: 10px;
}

.comment-area label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Align the label text to the left */
}

.comment-area textarea {
  width: 100%;
  resize: vertical;
  text-align: left; /* Align the textarea text to the left */
  border-width: 2px;
  border-color: #ececec;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #3388ff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: #2962b8;
}


/* Slider css */

#slider {
  margin: 0 auto;
  width: 80%;
  height: 10px;
}

.noUi-connect {
  background-color: #3388ff;
}

.noUi-tooltip {
  display: block;
}

.slider-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: height 0.3s ease; /* Add transition for smooth animation */
}

#hideButton {
  position: absolute;
  bottom: 55px; /* Adjust the top value to position the button */
  left: calc(50% - 15px);
  padding: 5px;
  background-color: transparent; 
  color: #d4ba93;
  border: none;
  cursor: pointer;
  visibility: visible; /* Ensure the button is visible */
  z-index: 9999; /* Set a higher z-index value to ensure the button is clickable */
  transform: rotate(
    180deg
  ); /* Rotate the arrow image 180 degrees when the slider is hidden */
}

#hideButton img {
  width: 20px; /* Adjust the width of the arrow image */
  /* transition: transform 0.3s ease; Add transition for smooth animation */
}

.slider-container.hidden {
  height: 0;
  visibility: hidden;
  z-index: 9999; /* Set a higher z-index value to ensure the button is clickable */
  transform: rotate(
    180deg
  ); /* Rotate the arrow image 180 degrees when the slider is hidden */
}

.slider-container.hidden #hideButton {
  top: 20px; /* Adjust the top value to position the button */
  visibility: visible; /* Ensure the button is visible */
}

#mapid {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: calc(
    100% - 100px
  ); /* Subtract the height of the slider container from 100% */
  transition: height 0.3s ease; /* Add transition for smooth animation */
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.filter-select {
  margin-left: 10px;
}

/* CSS */
.noUi-value-large {
  font-size: 14px; /* Adjust the font size as needed */
}

/* CSS */
.noUi-value {
  font: small-caps 12px/20px Georgia, serif;
  padding: 4px; /* Adjust the padding as needed */
}

.noUi-value-sub {
  color: #676767;
}

.noUi-pips {
  color: #676767;
}



#slider .noUi-connect {
  background: #eaddca;
}

#slider .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
  border: 1px solid transparent;
  background: #d4ba93;
  box-shadow: none;
}

/* Hide markers on slider handles */
.noUi-origin .noUi-handle::before,
.noUi-origin .noUi-handle::after {
  display: none;
}

/* Flex container styles for popup content */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.popup-image {
  width: 100%;
  margin-bottom: 10px;
}

.caption-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin-bottom: 10px;
}

.caption {
  margin-right: 5px;
  margin-top: 3px;
}

/* Popup share button */

.share-button {
  font-size: 10px;
  padding: 6px;
  background-color: white;
  color: #888888;
  border: 1px solid rgba(136, 136, 136, 0.3);
  border-radius: 8px;
  box-shadow: 1px 1px 0px 0px rgba(136, 136, 136, 0.3);
  transition: background-color 0.3s ease;
  margin-left: 5px;
  margin-top: 3px;
}

.share-button:hover {
  cursor: pointer; /* Change cursor style on hover */
}

.decade-container{
  margin-top: 6.5px;
}

.edit-button {
  display: none;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-animation {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.marker-icon {
  opacity: 0.5;
}

